@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Space+Grotesk:wght@400;500;600;700&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';

.cyan-text {
    color: #5be4ff;
}

.pink-text {
    color: #ffcdfe;
}

body {
    background-color: #0b0b12;
}

.rainbow-line {
    width: min(500px, 80%);
    height: 2px;

    margin: 38px auto 28px;

    background: repeating-linear-gradient(
        90deg,
        #5be4ff 0px,
        #00a8c9 50px,
        #ffcdfe 100px,
        #fcffa8 150px,
        #cdffd9 200px,
        #5be4ff 250px
    );

    background-size: 500px 100%;

    animation: gradient-shift 4s linear infinite;
}

@keyframes gradient-shift {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -500px 0;
    }
}